---
BasedOnStyle: LLVM
AlignAfterOpenBracket: AlwaysBreak
AllowAllArgumentsOnNextLine: true
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 88
CompactNamespaces: true
IncludeBlocks: Regroup
IndentWidth: 2
Language: Cpp
ReflowComments: true
SortIncludes: true
UseTab: Never
IncludeCategories:
  - Regex:           '^<cmocka\.h>'
    Priority:        10
  - Regex:           '^".*\.h"'
    Priority:        9
  - Regex:           '^<.*\.h>'
    Priority:        8
...
